DATABASE_URL=postgresql://user:mypassword@localhost:5432/ecoguard_db
REDIS_URL=redis://localhost:6379/0

OPENAI_API_KEY=placeholder

WAQI_KEY=placeholder

POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=ecoguard_db

